@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}

#comics .bg-comics {
  height: 400px;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
#comics .bg-container-comics {
  background-color: #1c1c1c;
}
#comics .container-comics {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
}
#comics .container-comics img {
  width: 150px;
}
#comics .container-comics .title-comics {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0, -50%);
  background-color: #0282f9;
}
#comics .container-comics .title-comics h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 10px 25px;
}
#comics #btn-comics {
  background-color: #0282f9;
  border: 2px solid #0282f9;
  padding: 10px 40px;
  margin: 35px;
}
#comics #btn-comics:hover {
  box-shadow: 2px 2px 2px 2px black;
}
#comics .card-comics {
  flex-basis: 16.6666666667%;
  padding-top: 45px;
}
#comics .card-comics a {
  text-decoration: none;
  color: currentColor;
}
#comics .card-comics h5 {
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 5px;
}
#comics .card-comics:hover {
  cursor: pointer;
}
#comics .card-comics img:hover {
  box-shadow: 2px 2px 2px 2px black;
  filter: brightness(50%);
}

#single-comic {
  position: relative;
}
#single-comic .bg-comics {
  height: 400px;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  border-bottom: 50px solid #0282f9;
  margin-bottom: 30px;
}
#single-comic .wrapper {
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 50px;
}
#single-comic .container-detail {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
}
#single-comic .container-detail .image-comic {
  position: absolute;
  top: 8%;
  right: 60%;
  border: 10px solid #0282f9;
  max-width: 100%;
}
#single-comic .container-detail .info-comic {
  width: 70%;
}
#single-comic .container-detail .info-comic h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
#single-comic .container-detail .info-comic .price-available {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 75%;
  padding: 15px;
  border-right: 1px solid #357739;
}
#single-comic .container-detail .info-comic .price-available .price {
  color: #bafd9c;
}
#single-comic .container-detail .info-comic .price-available .price .cost {
  color: white;
}
#single-comic .container-detail .info-comic .price-available .available {
  color: #bafd9c;
}
#single-comic .container-detail .info-comic .check-available {
  width: 25%;
  color: white;
  display: flex;
  justify-content: center;
}
#single-comic .container-detail .info-comic .price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #55ba59;
  border-bottom: 1px solid #357739;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-weight: bold;
  height: 50px;
  margin-bottom: 25px;
}
#single-comic .bg-specs-comic {
  background-color: #f6f6f6;
  border-top: 1px solid #e3e3e3;
  padding-bottom: 50px;
}
#single-comic .bg-specs-comic .wrapper {
  width: 1140px;
  margin: 0 auto;
  padding-top: 15px;
}
#single-comic .bg-specs-comic .wrapper h2 {
  margin-bottom: 20px;
}
#single-comic .bg-specs-comic .wrapper .d-flex {
  display: flex;
}
#single-comic .bg-specs-comic .wrapper .d-flex .talent {
  width: 50%;
  margin-right: 30px;
}
#single-comic .bg-specs-comic .wrapper .d-flex .talent .d-flex {
  justify-content: space-between;
}
#single-comic .bg-specs-comic .wrapper .d-flex .talent .d-flex p {
  width: 70%;
}
#single-comic .bg-specs-comic .wrapper .d-flex .specs {
  width: 50%;
}
#single-comic .bg-specs-comic .wrapper .d-flex .specs .d-flex {
  justify-content: space-between;
}
#single-comic .bg-specs-comic .wrapper .d-flex .specs .d-flex p {
  width: 70%;
}
#single-comic .bg-specs-comic .wrapper .d-flex .inner-specs {
  padding: 15px 10px;
  border-top: 1px solid #e3e3e3;
}

footer .bg-footer {
  background-image: url("/images/footer-bg.jpg");
  height: 450px;
}
footer .container-footer {
  width: 1140px;
  margin: 0 auto;
  background-image: url("/images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
}
footer .container-nav-footer {
  padding: 40px 0;
  width: 45%;
  display: flex;
  justify-content: space-between;
}
footer nav {
  padding-bottom: 20px;
}
footer nav h4 {
  color: white;
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 1.5rem;
}
footer nav ul li {
  list-style: none;
  padding-bottom: 5px;
}
footer nav ul li a {
  text-decoration: none;
  color: grey;
  font-family: sans-serif;
}
footer nav ul li a:hover {
  text-decoration: underline;
}
footer .bg-followUs {
  background-color: #303030;
  height: 100px;
}
footer .followUs-container {
  width: 1140px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .d-flex {
  display: flex;
}
footer .btn-footer {
  background-color: transparent;
  border: 2px solid #0282f9;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
footer .btn-footer:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}
footer .text-follow {
  display: flex;
  align-items: center;
  width: 100%;
}
footer .text-follow h4 {
  text-transform: uppercase;
  color: #0282f9;
  padding-right: 15px;
}
footer .text-follow img {
  padding: 0 10px;
}
footer .text-follow img:hover {
  cursor: pointer;
  filter: brightness(200%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}

header .bg-header {
  width: 100%;
  background-color: white;
}
header .conteiner-header {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .conteiner-header img {
  height: 100px;
  padding: 15px 0px;
}
header ul {
  list-style: none;
  display: flex;
  height: 100%;
}
header ul li {
  padding: 0px 10px;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 5px solid transparent;
}
header ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  vertical-align: middle;
}
header .active {
  border-bottom: 5px solid #0282f9;
}
header .active a {
  color: #0282f9;
}